#container{
  width: 85%;
  margin: 15px auto;
}

.dataCard{
  width: 350px;
  height: 100px;
}

.productCard{
  width: 500px;
  height: 1000px;
  margin: 15px;
}

.productCards{
  background-color: rgba(132, 160, 245, 0.1);
  margin: 15px 15px 0 0;
  width: 200px;
}
