#container {
    width: 85%;
    margin: 15px auto;
}

.dataCard {
    width: 350px;
    height: 100px;
}

.productCard {
    width: 500px;
    height: 425px;
    margin: 15px;
}

.example-viewport {
    height: 500px;
}

.gridlist {
    background-color: rgba(220, 220, 220, 0.3);
    width: 850px;
}

.leveringContainer {
    margin-bottom: 25px;
}
