<!-- <h1>Bewerk levering {{levering.omschrijving}}</h1>
<mat-card id="card">
    <mat-card-content>
        <form [formGroup]="editLeveringForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field [style.width.px]=700>
                    <mat-label>Omschrijving</mat-label>
                    <input matInput type="text" formControlName="omschrijving" [(ngModel)]="levering.omschrijving"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.px]=700>
                    <mat-label>Laadkade</mat-label>
                    <input matInput type="text" formControlName="laadkade" [(ngModel)]="levering.laadkade.nummer"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.px]=700>
                    <mat-label>Schedule</mat-label>
                    <input matInput type="text" formControlName="schedule" [(ngModel)]="levering.schedule.datum"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.px]=700>
                    <mat-label>Leverancier</mat-label>
                    <input matInput type="text" formControlName="leverancier" [(ngModel)]="levering.leverancier.code"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [style.width.px]=700>
                    <mat-label>Bedrijf</mat-label>
                    <input matInput type="text" formControlName="bedrijf" [(ngModel)]="levering.leverancier.bedrijf.naam"/>
                </mat-form-field>
            </div>
            <button class="button" mat-raised-button color="primary" type="submit">Bewerk levering</button>
        </form>
    </mat-card-content>
</mat-card> -->