#title {
    font-size: 20px;
    text-align: center;
    background-color: royalblue;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo {
    padding-top: 20px;
    width: 75%;
}

.card {
    height: 250px;
    margin: 20px;
}

.mat-card-title {
    color: #536dfe;
}

.errorMessage {
    color: white;
    text-align: left;
}

.formfield {
    width: 32vw;
    max-width: 700px;
    margin-bottom: -10px;
    padding-right: 12vw;
}

.form {
    width: max-content;
}