<mat-grid-list cols="2" rowHeight="500px" width="2000px;">
    <mat-grid-tile colspan=2>
        <img src="assets/logistiek.jpg" alt="header-logistiek">
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="300px" width="2000px;">
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-title>Onze socialmedia</mat-card-title>
            <mat-card-content>
                Heb je interesse in wat wij doen of wil je meer weten over ons ? Volg ons dan gerust even op social media waar wij regelmatig de laatste nieuwtjes posten.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://twitter.com/IAbdelmalki"><button mat-button>Twitter</button></a>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>Onze richtlijnen</mat-card-title>
            <mat-card-content>
                Als Linked staan wij in voor een veilige en betrouwbaare service. Bij ons kan je rekenen op kwaliteit. Wij vinden een goede service zeer belangrijk dus bij problemen staan wij steeds klaar om deze zo snel mogelijk op te lossen.
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-title>Hoe bekijk ik mijn levering</mat-card-title>
            <mat-card-content>
                Alle details over je levering bekijken ? Dit kan vanaf nu heel simpel met je leveringscode. Hier leggen we stap voor stap uit hoe je dit doet! hieronder zie je een vakje met 'Bekijk u levering' klik hier op 'Klik hier' en vul de correcte leveringscode
                in. Dan ga je doorgestuurd worden naar een pagina met alle details. Heb je nog vragen ? of heb je de leveringscode niet, aarzel niet om contact met ons op te nemen op: 014 12 34 56
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-title>Wat doet linked</mat-card-title>
            <mat-card-content>
                Wat doen wij ? Wij als linked bieden een alround IT service voor logistieke bedrijven. Wij bieden een kant en klaar systeem aan dat het laden en lossen van goederen vergemakkelijkt en versneld op basis van nummerplaatherkenning en een automatische planning.
                Wij staan in voor een betrouwbare en uitbreidbaare service, die steeds up to date is met de laatste nieuwtjes.
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="form">
        <mat-card class="card" id="chauffeurCard">
            <mat-card-title id="title">Bekijk uw levering</mat-card-title>
            <mat-card-subtitle id="subtitle">Vul hier uw nummerplaat en code in die u heeft gekregen</mat-card-subtitle>
            <mat-card-content>
                <form [formGroup]="findLeveringenForm">
                    <div>
                        <mat-form-field class="formfield">
                            <mat-label>Vul hier uw code in</mat-label>
                            <input id="input" matInput placeholder="Ex. 1234" formControlName="code">
                        </mat-form-field>
                        <control-messages [control]="findLeveringenForm.get('code')" class="errorMessage"></control-messages>
                    </div>
                    <div>
                        <mat-form-field class="formfield">
                            <mat-label>Vul hier uw nummerplaat in</mat-label>
                            <input id="input" matInput placeholder="Ex. 1abc123" formControlName="nummerplaat">
                        </mat-form-field>
                        <control-messages [control]="findLeveringenForm.get('nummerplaat')" class="errorMessage"></control-messages>
                    </div>
                    <br>
                    <button class="button" (click)="goTo()" mat-raised-button color="white" type="submit">Zoek uw
            levering
            op</button>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>