#logo {
    padding-top: 20px;
    width: 75%;
}

.card {
    height: 250px;
    margin: 20px;
}

#chauffeurCard {
    background-color: royalblue;
}

.mat-card-title {
    color: #536dfe;
}

.errorMessage {
    color: white;
    text-align: left;
}

.formfield {
    width: 32vw;
    max-width: 700px;
    margin-bottom: -10px;
    padding-right: 12vw;
}

.form {
    width: max-content;
}

#title,
#subtitle,
#input,
 ::placeholder,
mat-label {
    color: white;
}