#title{
    font-size: 20px;
    text-align: center;
    background-color: royalblue;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo{
    padding-top : 20px;
    width: 75%;
}

#footer{
    font-size: 15px;
    bottom:0px;
    background-color: royalblue;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#socialmedia{
    float: right;
}

#twitter{
    text-decoration: none;
    color:whitesmoke;
}

#twitter:hover{
    text-decoration: underline;
}

#card{
    height: 250px;
    margin: 20px;
}




