<h1>Voeg laadkade toe</h1>
<mat-card id="card">
    <mat-card-content>
        <form [formGroup]="addLaadkadeForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="formfield">
                    <mat-label>Nummer</mat-label>
                    <input matInput type="number" formControlName="nummer" />
                </mat-form-field>
                <control-messages [control]="addLaadkadeForm.get('nummer')" class="errorMessage"></control-messages>
            </div>
            <button class="button" mat-raised-button color="primary" type="submit" [disabled]="!addLaadkadeForm.valid">Voeg laadkade toe</button>
        </form>
    </mat-card-content>
</mat-card>
