h1 {
    margin: 45px
}

mat-card {
    margin: 45px;
    padding: 30px
}

.formfield {
    margin: 0 25px 0 0;
}

mat-card {
    margin: 25px;
    padding: 30px
}

#card {
    width: 35%;
    min-width: 510px;
    margin: 100px auto;
}

mat-card-header,
mat-card-content {
    display: flex;
    justify-content: center;
    text-align: center;
}