.tableField {
    margin: 100px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}

.addButton {
    margin-bottom: 25px;
}

mat-card {
    margin: 25px;
    padding: 30px
}

#card {
    width: 75%;
    min-width: 510px;
    margin: 100px auto;
}

mat-card-header,
mat-card-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.EditButton{
    margin-right: 10px;
}