<h1>Bedrijven</h1>
<div class="tableField">
  <mat-card id="card">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Bedrijf" #input>
    </mat-form-field>

    <div><button class="addButton" (click)="addBedrijf()" mat-raised-button color="accent">VOEG TOE</button></div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Naam Column -->
        <ng-container matColumnDef="naam">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
          <td mat-cell *matCellDef="let row"> {{row.naam}} </td>
        </ng-container>

        <!-- Delete bedrijf Column -->
        <ng-container matColumnDef="deleteBedrijf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row"> <button (click)="editBedrijf(row.bedrijfID)" class="EditButton" mat-raised-button
              color="primary">BEWERK</button>
              <button (click)="deleteBedrijf(row.bedrijfID)" mat-raised-button
              color="accent">VERWIJDER</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Geen bedrijven gevonden met de filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>
