.nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-header-cell {
  font-size: 15px;
  padding-top: 18px;
}
#footer{
  font-size: 15px;
  bottom:0px;
  background-color: royalblue;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#socialmedia{
  float: right;
}

#twitter{
  text-decoration: none;
  color:whitesmoke;
}

#twitter:hover{
  text-decoration: underline;
}

