.container{
  width: 35%;
  margin: 100px auto;
}

.mat-form-field {
  width: 100%;
  min-width: 500px;
}

mat-card-header,
mat-card-content {
    display: flex;
    justify-content: center;
    text-align: center;
}
