.tableField {
  margin: 100px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}

.addButton {
  margin-bottom: 25px;
}

mat-card {
  margin: 25px;
  padding: 30px
}

#card {
  width: 75%;
  min-width: 510px;
  margin: 100px auto;
}

mat-card-header,
mat-card-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.EditButton{
  margin-right: 10px;
}.tableField {
  margin: 100px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}

.addButton {
  margin-bottom: 25px;
}

mat-card {
  margin: 25px;
  padding: 30px
}

#card {
  width: 75%;
  min-width: 510px;
  margin: 100px auto;
}

mat-card-header,
mat-card-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.EditButton{
  margin-right: 10px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: block;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

#align_end{
  justify-content: flex-end;
}

mat-form-field{
  width: 700px;
}
