<div class="col-8">
    <div id="reload" class="qvplaceholder"></div>
    <div id="filter" class="qvplaceholder"></div>
    <div id="vooruitgang" class="qvplaceholder"></div>
    <div id="lkstatus" class="qvplaceholder"></div>
    <div id="lkbedrijf" class="qvplaceholder"></div>
    <div id="infobedrijf" class="qvplaceholder"></div>
    <div id="producten" class="qvplaceholder"></div>
    <div id="actievelk" class="qvplaceholder"></div>
</div>
<div><button id="ClearAll" class="buttonstyle">Clear All</button></div>

